@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
 font-family: 'Roboto',sans-serif; 
   
}


html,body{
    background-color: black;
    color: white;
}




header{
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, #102347 0%, #181818 100%);

    height: 220px;
    left: 0px;
    top: 0px;
    justify-content: center;
}
.dsmeta-card{
    background-color: #283142;
    border-radius: 15px;
    padding: 70px, 10px;
}
.header-banner-ds{
    display: flex;
    align-items: center;
    flex-direction: column;  

}
.header-banner-ds h1{
    margin: 15px;
}
.header-banner-ds p{
 margin-top: 2px;
}


a,a:hover,a:visited{
    text-decoration: none;
    text-transform: none;
}
.dsmeta-title-vendas{
    color: #676FFF;
    font-size: 24px;
    margin-bottom:21px;
    margin-top: 32px;
    margin-left: 15px;
    
}
.dsmeta-format-control{
    border: 1px solid #384459;
    border-radius: 5px;
    background-color: #1B2531;
    width: 90%;
    height: 46;
    color: white;
    font-size: 18px;
    margin-left: 10px;
    
    
    
}
.dsmeta-format-control-div{
    margin-bottom: 16px;
    max-width: 300px;
}
.ddmeta-sale-table{
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
.ddmeta-sale-table thead th{
    font-size: 18px;
    font-weight: bold;
    height: 24px;
    color: #E9E9E9;
    width: 700;
}
.ddmeta-sale-table tbody{
    font-size: 14px;
    width: 400;
    color: #CFCFCF;
    text-align: center;
}
.ddmeta-sale-table tr{
    border: 1px solid #5F6E82;
    width: 280px;
    height: 74px;
    top: 605px;
    left: 25px;

}
.ddmeta-sale-table tbody tr:hover > th{
    background-color: #384459;
}


.ddmeta-sale-table tbody tr:nth-child(odd){
    background-color: #1B2531;
    ;
}

.dsmeta-red-btn-conteiner{
    display: flex;
    justify-content: center;

}
.dsmeta-red-btn{
    border:1px solid #FF6B72;
    width:45px;
    height: 45px;
    border-radius: 10px;
    left: 223px;
    top:546px;
    background: rgba(255, 107, 114, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.dsmeta-red-btn img{
 
   width: 19px;
   height: 22px;

}  
.show576{
    display: none;
}
@media(min-width: 576px){
    .show576{
        display: table-cell;
    }
    .dsmeta-card{
        padding: 35px;
    }
    .ddmeta-sale-table tbody{
        font-size: 18px;
    }
    .ddmeta-sale-table thead th{
        font-size: 25px;
    }
}
.show992{
    display: none;
}
@media(min-width: 900px){
    .show992{
        display: table-cell;
    }
}